{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Login{% endblock title %}
{% block body %}

<div class="container">
	<div class="row">
		<div class="col">
			{% if next %}
			{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
				please login with an account that has access.</p>
			{% else %}
			<p>Please login to see this page.</p>
			{% endif %}
			{% endif %}

			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<table>
					<tr>
						<td>{{ form.username.label_tag }}</td>
						<td>{{ form.username }}</td>
					</tr>
					<tr>
						<td>{{ form.password.label_tag }}</td>
						<td>{{ form.password }}</td>
					</tr>
				</table>

				<input type="submit" value="login">
				<input type="hidden" name="next" value="{{ next }}">
			</form>

			{# Assumes you setup the password_reset view in your URLconf #}
			<p><a href="{% url 'password_reset' %}">Esqueceu sua Senha?</a></p>
			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>

				<h4 class="mt-4"> Matrículas abertas! Custo R$1.000,00</h4>
				<script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
						data-preference-id="176396484-3ad0263c-ca9b-4c8b-818e-9e65188ec996"
						data-source="button"></script>
				<h4 class="mt-4"> Entre na fila de espera</h4>
				<form action="https://gmail.us9.list-manage.com/subscribe/post?u=74cf5dbeb1de3ee720782f8fe&amp;id=381d50d5bf"
					  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
					  class="form-row align-items-center" target="_blank" novalidate>
					<div class="form-row align-items-center">
						<div class="col-auto">
							<label class="sr-only" for="mce-EMAIL">EMAIL</label>
							<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
								   placeholder="exemplo@gmail.com"
						</div>
						<div class="col-auto">
							<label class="sr-only" for="mce-FNAME">EMAIL</label>
							<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
								   placeholder="Seu Nome"
						</div>

						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
																								  name="b_74cf5dbeb1de3ee720782f8fe_381d50d5bf"
																								  tabindex="-1"
																								  value=""></div>
						<div class="col-auto">
							<input type="submit" value="Salvar" name="subscribe"
								   id="mc-embedde-subscribe" class="btn btn-primary">
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>


</div>
</div>

{% endblock body %}
