{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>

				 <h4 class="mt-4"> Matrículas abertas! Custo R$1.000,00</h4>
				<script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js" data-preference-id="176396484-3ad0263c-ca9b-4c8b-818e-9e65188ec996" data-source="button"></script>
				<h4 class="mt-4"> Entre na fila de espera</h4>
				<form action="https://gmail.us9.list-manage.com/subscribe/post?u=74cf5dbeb1de3ee720782f8fe&amp;id=381d50d5bf"
						  	method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
						  	class="form-row align-items-center" target="_blank" novalidate>
					<div class="form-row align-items-center">
						<div class="col-auto">
							<label class="sr-only" for="mce-EMAIL">EMAIL</label>
							<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@gmail.com"
						</div>
						<div class="col-auto">
							<label class="sr-only" for="mce-FNAME">EMAIL</label>
							<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome"
						</div>

						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74cf5dbeb1de3ee720782f8fe_381d50d5bf" tabindex="-1" value=""></div>
						<div class="col-auto">
							<input type="submit" value="Salvar" name="subscribe"
														  id="mc-embedde-subscribe" class="btn btn-primary">
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/lucianoramalho.png' %}" alt="Foto de Luciano Ramalho"
							 class="img-thumbnail float-left mr-3"/>
						Ramalho é sócio e professor na <a href="www.python.pro.br">Python Pro</a> e autor do Livro Python Fluente.
						Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
						Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
						Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
						Globo.com e Itaú. Palestrante em eventos internacionais como FISL, Pycon e OSCON. Ajudou a
						criar a Associação Python Brasil e foi seu presidente. É membro da Python Software Foundation e
						fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.

					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}
